<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="css/chat_publicly.css">
  </head>

  <body>
    {% include "_navbar.njk"%}
    <div class="container">
      <div class="messaging">
        <div class="inbox_msg">
          <div class="mesgs">
            <div class="msg_history" id="msg_history">
            <!-- 
              <div class="incoming_msg">
                <div class="received_msg">
                  <div class="received_withd_msg">
                    <span class="time_date">Javert | 09.16 12:34:56 | <img src="./images/OK.png" alt="Avatar" class="status_chat"></span>
                    <p>Test which is a new approach to have all solutions</p>
                  </div>
                </div>
              </div>
              <div class="outgoing_msg">
                <div class="sent_msg">
                  <span class="time_date">Javert | 09.16 12:34:56 | <img src="./images/OK.png" alt="Avatar" class="status_chat"></span>
                  <p>Test which is a new approach to have all solutions</p>
                </div>
              </div>
            -->
            </div>
            <div class="type_msg">
              <div class="input_msg_write">
                <input type="text" class="write_msg" id="message" placeholder="Type a message"/>
                <button class="msg_send_btn" type="button" id="send_message">
                  <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="js/socket.io.js"></script>
    <script src="js/chat_publicly.js"></script>
  
    {% include "_js.njk" %}  
  
  </body>

</html>