.login-body{
    background-color: #1f1f2e;
}

.login-form{
    margin-top: 10px;
    border: 1px;
    border-style: solid;
    border-radius: 20px;
    width: 50vw;
    background-color: white;
    padding-top: 36px;
}

.login-label{
    padding-bottom: 10px;
    font-weight: bold;
}